<?xml version='1.0' encoding='utf-8'?>
<widget id="io.beco.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Beco Cordova Example</name>
    <description>
        A sample Apache Cordova application that uses the Beco Cordova API.
    </description>
    <author email="chrisd@beco.io" href="http://beco.io">
        Beco, Inc
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="BackupWebStorage" value="local" />
    <platform name="ios">
        <icon height="58" src="res/icons/ios/Beco_App_Icon_58.png" width="58" />
        <icon height="76" src="res/icons/ios/Beco_App_Icon_76.png" width="76" />
        <icon height="87" src="res/icons/ios/Beco_App_Icon_87.png" width="87" />
        <icon height="120" src="res/icons/ios/Beco_App_Icon_120.png" width="120" />
        <icon height="152" src="res/icons/ios/Beco_App_Icon_152.png" width="152" />
        <icon height="167" src="res/icons/ios/Beco_App_Icon_167.png" width="167" />
        <icon height="180" src="res/icons/ios/Beco_App_Icon_180.png" width="180" />
    </platform>
    <platform name="android">
        <icon density="mdpi" src="res/icons/android/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icons/android/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icons/android/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icons/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icons/android/mipmap-xxxhdpi/ic_launcher.png" />
        <preference name="android-minSdkVersion" value="18" />
        <preference name="android-targetSdkVersion" value="23" />
    </platform>
    <splash height="480" src="res/launch/0_Beco_App_Loading_320x480_v1.png" width="320" />
    <splash height="768" src="res/launch/0_Beco_App_Loading_1024x768_v1.png" width="1024" />
    <splash height="1136" src="res/launch/0_Beco_App_Loading_640x1136_v1.png" width="640" />
    <splash height="2208" src="res/launch/0_Beco_App_Loading_1242x2208_v1.png" width="1242" />
    <splash height="960" src="res/launch/0_Beco_App_Loading_640x960_v1.png" width="640" />
    <splash height="2048" src="res/launch/0_Beco_App_Loading_1536x2048_v1.png" width="1536" />
    <splash height="1334" src="res/launch/0_Beco_App_Loading_750x1334_v1.png" width="750" />
    <splash height="1536" src="res/launch/0_Beco_App_Loading_2048x1536_v1.png" width="2048" />
    <splash height="1024" src="res/launch/0_Beco_App_Loading_768x1024_v1.png" width="768" />
    <splash height="1242" src="res/launch/0_Beco_App_Loading_2208x1242_v1.png" width="2208" />
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="beco-cordova-plugin" spec="../plugin" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
